<%- include('partials/header') %>
<div class="container-fluid backg1">
  <div class="row">
    <div class="col-lg-6  text-center" >
      <img src="logo.jpeg" class="rounded-circle"/>
    </div>
    <div class="col-lg-6">
        <div class="container text-center">
          <h1 class="display-3 ">Time Keepers</h1>
          <p class="lead">WELCOME!!!</p>
          <hr>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nihil dignissimos eum fugiat distinctio omnis ducimus aperiam cumque dolore commodi? Rem dolore, praesentium temporibus sint eligendi pariatur consequuntur minus officiis!</p>
          <br><br>
          <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
          <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
          <br>
        </div>
    </div>
  </div>
  <br>
</div>

<div class="container-fluid footer text-center">
  <h4>Contat us</h4>
  <a href="mailto:timekeepers.tech@gmail.com"><img src="gmail.jpeg" class="img-circle logo rounded-circle"></a>
  <hr width="70%" class="backg1">
  <h4>2021 @ Copyrights Reserved</h4>
</div>





<%- include('partials/footer') %>
