<%- include('partials/header') %>
<div class="backg2">
  <div class="container mt-5">
    <h1 class="text-center color1" style="font-family: Lucida Handwriting,cursive;">Sign-in</h1>
    <!-- Makes POST request to /login route -->
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="username" style="width:50%;"> 
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" style="width:50%;">
      </div>
      <button type="submit" class="btn btn-dark">Login</button>
    </form>          
  </div>
</div>


<%- include('partials/footer') %>
